.login {
    background: rgb(18.6, 28.22, 33.4);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.headline {
    margin-top: 27px;
    margin-right: auto;
    margin-bottom: 28px;
    margin-left: 10%;
}

.whatsapplight__logo {
    margin-top: 27px;
    margin-right: auto;
    margin-bottom: 28px;
    margin-left: 16%;
}
.landing-headerTitle {
    margin-left: 14px;
}
.landing-headerTitle {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
}
.landing-header {
    display: inline-block;
    left: 25px;
}
._30yMe {
    display: inline-block;
    vertical-align: top;
}
.landing-wrappe {
    width: 100%;
    height: 222px;
    background: #00a884;
}

.login__desc {
    margin-top: 10px;
    font: bold 11px;
    color: red;
}

